---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Abonnementer">
    <section class="max-w-7xl mx-auto md:p-0 p-8">
        <section class="md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom">
            <section class="grid md:grid-cols-12 gap-4">
                <section class="bg-neutral-900 col-span-8 md:col-start-3">
                    <section class="grid grid-cols-6">
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-red-800 h-3"></span>
                        <span class="bg-neutral-50 h-3"></span>
                    </section>
                    <section class="md:p-12 p-8">
                        <section class="flex">
                            <a class="pr-5" href="/formular_antal"><img src="/tilbage.svg" alt="Tilbageknap" /></a>
                            <div>
                                <h1 class="md:text-h2-desktop text-h2-mobile font-display font-bold pb-10">Kunde og leverings oplysninger</h1>
                            </div>
                        </section>
                        <!------ Sektion 1 ------>
                        <section class="border-red-800 border-2 p-8 grid grid-col-6 gap-gap">
                            <div class="col-span-1 col-start-1 content-center">
                                <div class="inline-flex items-center">
                                    <label class="relative flex items-center cursor-pointer" for="html">
                                        <input name="framework" type="radio" class="peer h-5 w-5 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all" id="html" />
                                        <span class="absolute bg-slate-800 w-3 h-3 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-200 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"> </span>
                                    </label>
                                    <label class="ml-2 text-slate-600 cursor-pointer text-sm" for="html"></label>
                                </div>
                            </div>
                            <div class="col-span-3 col-start-2 content-center">
                                <p class="text-neutral-950 font-bold">Pakke til døren</p>
                                <p class="text-neutral-950">Leveres i dagtimerne</p>
                                <p class="text-neutral-950">2200 København n</p>
                                <p class="text-neutral-950 font-bold">0,13 km</p>
                            </div>
                            <div class="content-center">
                                <img class="col-span-1 col-start-5" src="/postnord.svg" alt="postnord logo" />
                            </div>
                            <p class="text-neutral-950 col-span-1 col-start-6 content-center">Gratis</p>
                        </section>
                        <section class="flex justify-center">
                            <hr class="border-t-2 border-red-800 w-[80%]" />
                        </section>
                        <div class="flex justify-center pt-10">
                            <a href="/formular_tak">
                                <Button variant="primary" size="small">Fortsæt</Button>
                            </a>
                        </div>
                    </section>
                </section>
            </section>
            <section class="pt-10 flex justify-center">
                <hr class="border-t-2 border-red-800 w-28" />
            </section>
        </section>
    </section>
</MainLayout>
