---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Forside">
    <section class="max-w-xl mx-auto p-sm">
        <h1>Test</h1>
        <h2>Test</h2>
        <h3>Test</h3>
        <h4>Test</h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium reiciendis consectetur optio at facilis hic repellat, accusamus incidunt maiores rerum nemo itaque minus soluta corporis quod pariatur! Expedita, quidem aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dolore vel labore omnis, quod, doloribus earum
            dolorum eum laboriosam dignissimos neque vitae pariatur ipsam expedita distinctio exercitationem possimus voluptatem corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci molestias, inventore dicta quam explicabo fugiat. Exercitationem dolorum eaque, sit consectetur tempore harum laborum soluta! Maiores officiis
            animi tempora? Nulla, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatem nisi asperiores aut quis, repellendus obcaecati tempora fugiat provident. Veniam sapiente facilis, voluptatibus ullam non explicabo harum aliquam quam distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
            eveniet aperiam id similique nostrum in laboriosam, aut porro culpa nemo, debitis ullam? Dolore saepe, quis laboriosam totam fugit corrupti explicabo?
        </p>
        <a href="">mail@gmail.com</a>
    </section>
</MainLayout>
