---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import forsidebilledemobil from "../assets/images/forsidebilledemobil.png";
import forsidebillede2mobil from "../assets/images/forsidebillede2mobil.png";
---

<MainLayout title="Blandet vinkasse">
    <section class="max-w-7xl mx-auto md:p-0 p-8">


<!-- Nedenstående er koden til mobil format -->
<div class="">
    <div class="">
        <img class="" src={forsidebilledemobil.src} alt="" alt="">
        <!-- Indsæt billede af bakkerne -->
    </div>
</div>


<!-- Denne sektion skal have en mørke grå baggrundsfarve -->
        <div class="">
            <div class="">
                <img class="" src={forsidebillede2mobil.src} alt="" alt="">
                <h1>Tag på en vinoplevelse</h1>
                <p>Hos Vinens Essens finder du et nøje udvalgt sortiment af vine, der rummer både overraskelser og velkendte favoritter. Som en del af vores koncept tilbyder vi et månedligt abonnement, vi udvælger vine til dig – uden at afsløre, hvad du får, så hver levering føles som en spændende overraskelse. Flere af vores vine kan endda kun nydes på udvalgte, eksklusive restauranter, hvor kvalitet og passion for vin går hånd i hånd.</p>
            </div>
        </div>


        <div class="">
            <div class="">
                <p>ikon</p>
                <p>1.</p>
                <h1>Vælg pakke</h1>
                <p>Find den pakke, der passer bedst til dig, og glæd dig til spændende vinoplevelser hver måned.</p>
            </div>
        </div>

        <!-- Billede af "Ekslusive vine" -->
        <div>
            <div>
                <img src="" alt="">
            </div>
        </div>


        <!-- Rød trekant, H1, <p>, button, rød trekant -->
        <div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
                <a href=""></a>
                <img src="" alt="">
            </div>
        </div>


        <!-- Anmeldeserne -->
        <div>
            <div>
                <h1>ANMELDELSER</h1>

                <!-- Den røde streg -->
                <img src="" alt="">
            </div>
        </div>


        <div>
            <div>
                <img src="" alt="">
                <h2>God vin</h2>
                <p>Fantastisk vin! Smagen er unik, og kvaliteten er altid i top.</p>
                <p class="">- Lærke Berge</p>
            </div>
        </div>


        <div>
            <div>
                <img src="" alt="">
            </div>
        </div>

        <div>
            <div>
                <h4>Se nærmere på vores udvalg af vinkasser</h4>
            </div>
        </div>

        <div>
            <div>
                <img src="" alt="">
            </div>
        </div>









    </section>
    
</MainLayout>



<style>

</style>




