---
const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling = "shadow-drop25 px-6 p-2 font-semibold transition duration-300 ease-in-out";

const variantClasses = {
  primary: "bg-transparent border-3 border-neutral-50 hover:bg-red-900 hover:border-red-900 text-neutral-50",
  secondary: "bg-red-800 hover:bg-red-900 text-neutral-50",
};

const sizeClasses = {
  large: "text-3xl",
  medium: "text-2xl",
  small: "text-lg",
};
---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot button /></button>
